/* ================ Product Css Start ================ */

.main-section {
    max-width: 992px;
    margin: 0 auto;
}

.main-container {
    background-color: #fff;
    border-radius: 4px;
  }

.search-row-container{
    border-bottom: 1px solid #dddddd;
    display: flex;
    width: 100%;
}

.search-row {
    background-color: #fff;
    width: 100vw;
}

.svg-wrapper {
    width: 100%;
    height: auto;
}

.btn {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.default {
    background: #fff;
}

.category-button {
    align-items: center;
    padding: 0;
    white-space: nowrap;
}

.title-icon,
.medium {
    width: 20px;
    height: 20px;
    color: #0eaeca;
    font-weight: 700;
  }

.title-icon {
    display: inline-block;
    pointer-events: none;
    fill: #0eaeca;
}

/* =========================== Top Area Close ============================= */

.filter-container {
    padding: 16px;
    border-radius: 4px 0 0 4px;
}

.sort-2-dropdown-wrapper{
    border-top: 1px solid #0eaeca;
}

.dd-wrapper {
    display: flex;
    flex-direction: column;
}

.dd-desktop-label {
    font-size: 12px;
    padding-bottom: 8px;
    color: #707676;
}

.d-down{
    line-height: 0;
}

.dd-button {
    width: 100%;
    position: relative;
    border: 1px solid #d4ded9;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
    text-align: left;
}

.cat-button {
    width: 100%;
    position: relative;
    outline: none;
    text-align: left;
}

.dd-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dd-button-text {
    font-size: 14px;
    color: #2f3432;
    padding-left: 8px;
}
.cat-button-text {
    font-size: 12px;
    color: #888888;
    padding-left: 8px;
}

.dd-button-icon-closed {
    transform: rotate(0deg);
    transition: .3s;
}
.dd-button-icon {
    height: 24px;
    width: 24px;
    align-self: center;
    margin-right: 4px;
}

.icon,
.small {
    width: 24px;
    height: 24px;
}
.icon {
    display: inline-block;
    pointer-events: none;
    margin-top: 5px;

}

.svg-wrapper{
    width: 100%;
    height: auto;
}

.dd-hint-text {
    width: 100%;
    color: #707676;
    font-size: 12px;
    margin-top: 2px;
}

.heading {
    font-size: 12px;
    padding-bottom: 8px;
    color: #707676;
  }

/* =========================== Left Area Close ============================= */

.scrollable-wrapper {
    position: relative;
}

.scrollable {
    direction: rtl;
    scrollbar-width: none;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 0px 3px;
    font-size: 13px;
    font-weight: 500;
    direction: ltr;
    flex: auto;
    user-select: none;
}

.link-text--1 {
    color: #424e4e;
    white-space: nowrap;
}

.icon,
.extra-small {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
  .icon {
    vertical-align: middle;
    fill: #000;
    display: inline-block;
    pointer-events: none;
    font-weight: 700;
}

.svg-wrapper {
    width: 100%;
    height: auto;
}

/* Right Top Area Close*/

.ad-list-container {
    width: 100%;
}

.spotlight-slot {
    margin-bottom: 16px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.list{
    list-style: none;
}

.top-ads-container {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #0eaeca;
    text-decoration: none;
}

.card-link{
    text-decoration: none;
}

.container-2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #2f3432;;
}

.image {
    position: relative;
    top: 0;
    left: 0;
}

.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    overflow: hidden;
}


.title-adjust {
    max-width: 90%;
}
.title {
    font-size: 14px;
    font-weight: 800;
}
.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading {
    color: #2f3432;
    font-weight: 800;
}

.membership{
    font-size: 12px;
    color: #0eaeca;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.description {
    color: #707676;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price,
.color,
.spacer {
    font-weight: 800;
    color: #0eaeca;
    margin-left: 5px;
}



/* =========================== Right Area Close ============================= */
.cart-img {
    height: 50px;
    width: 60px;
    margin-top: 20px;
    border-radius: 10px;
}
.cart-list{
    list-style: none;
}
.cart-list p{
    font-size: 13px;
    font-weight: bold;
}

.cart-inc{
    border: 1px solid gray;
    padding: 0 8px;
    border-radius: 100%;
}
.cart-dec{
    border: 1px solid gray;
    padding: 0 10px;
    border-radius: 100%;
}

/* =========================== Cart Area Close ============================= */

@media only screen and (min-width: 800px) {
    .search-row {
      padding: 9px 0;
      border-radius: 4px;
}

  .category-button {
    font-weight: 800;
    color: #2f3432;
}
  .category-button {
    margin-left: -8px;
    padding-bottom: 4px 0;
}
  .btn {
    width: auto;
}

/* =========================== Top Area Close ============================= */

.filter-pane {
    z-index: 1;
}

.filter-container {
    background-color: #fff;
    border-right: 1px solid #e7edee;
}

.sort-dropdown-wrapper {
    margin-bottom: 24px;
}

.heading {
    padding-top: 12px;
    margin-top: 16px;
  }
/* =========================== Left Area Close ============================= */

.bread-crumb-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    direction: rtl;
    background-color: transparent;
    padding: 0;
    margin: 16px 24px 0;
}

.scrollable-wrapper {
    overflow: hidden;
    flex: auto;
}

.scrollable {
    display: flex;
    overflow: auto;
}

.wrapper {
    padding-bottom: 0;
}

.ad-list-container {
    box-shadow: none;
    margin: 0 24px 24px;
    max-width: 510px;
}

.ad-list {
    display: flex;
}

.list-wrapper {
    margin-right: 24px;
}

.list {
    width: 510px;
}

.image {
    min-height: 100px;
}

.top-ad {
    height: 160px;
    width: 200px;
    margin-top: 32px;
}

.title {
    font-size: 16px;
}

.description{
    font-size: 14px;
}

}

/* =========================== Right Area Close ============================= */


/* =============================== Profile Start ============================== */

.pro-main{
    background-image: url("https://img.freepik.com/free-photo/dark-weather-ominous-clouds-dramatic-landscape-generative-ai_188544-9078.jpg?size=626&ext=jpg&ga=GA1.1.2126229105.1686932889&semt=sph");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 90px 0;
}

.profile{
    color: #fff;
    padding: 40px 60px;
    border-radius: 6px;
    box-shadow:0px 0px 30px #3a3a3a;
    margin: 0px auto;
}

.information{
    text-align: center;
    font-weight: 700;
    color: antiquewhite;
}

.profile-img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 2px solid red;
    padding: 2px;
}

.fl-name{
    gap: 20px;
}

.inputs{
    width: 30%;
    margin: auto;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

/* ======================================= Products Uploade ======================================= */

.dashpro-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.dashpro-des{
    min-height: 250px;
    height: 100%;
    appearance: none;
    outline: none;
    background-color: #888888;
}

.upload-des{
    min-height: 200px;
    height: 300px;
    appearance: none;
    outline: none;
    background-color: #888888;
    overflow-y: auto;
}

.label-tag{
    font-size: 14px;
    margin: 20px 0;
    font-weight: 700;
}
